body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar-links-div {
  display: flex;
  justify-content: space-between;
}

#navbar-left-side-div {
  align-self: left;
}

#navbar-right-side-div {
  align-self: right;
}
